<form #pathForm="ngForm" (ngSubmit)="sendSubmit()">
  <mat-card-content>
    <mat-form-field>
      <input matInput
             type="text"
             name="name"
             placeholder="Name"
             [(ngModel)]="path.name">
    </mat-form-field>

    <mat-form-field>
      <input matInput
             type="url"
             name="image"
             placeholder="Image url"
             [(ngModel)]="path.image">
    </mat-form-field>

    <mat-form-field>
      <input matInput
             type="text"
             name="info"
             placeholder="Info"
             [(ngModel)]="path.info">
    </mat-form-field>

    <mat-form-field>
      <input matInput
             type="text"
             name="length"
             placeholder="Length"
             [(ngModel)]="path.length">
    </mat-form-field>

    <mat-form-field>
      <input matInput
             type="text"
             name="duration"
             placeholder="Duration"
             [(ngModel)]="path.duration">
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" type="submit" [disabled]="!pathForm.valid">Update</button>
    <a mat-raised-button [routerLink]="['/places',path.id]">Edit places</a>
    <button mat-button color="warn" (click)="delete(path.id)">Delete</button>
  </mat-card-actions>
</form>
