<form [formGroup]="form" (ngSubmit)="sendSubmit()">
  <mat-card-content>
    <span *ngFor="let input of inputs">
      <app-dynamic-input [input]="input" [form]="form"></app-dynamic-input>
    </span>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">{{submitText}}</button>
    <a *ngIf="showLink" routerLink="{{url}}" mat-button>{{urlMessage}}</a>
    <button *ngIf="!isCreate" mat-button color="warn" (click)="sendDelete()">Delete</button>
  </mat-card-actions>
</form>
