<mat-card-content>
  <mat-form-field>
    <input matInput
           type="text"
           name="name"
           placeholder="Name"
           [(ngModel)]="bundle.name">
  </mat-form-field>

  <mat-form-field>
    <input matInput
           type="url"
           name="image"
           placeholder="Image url"
           [(ngModel)]="bundle.image">
  </mat-form-field>

  <mat-form-field>
    <input matInput
           type="text"
           name="info"
           placeholder="Info"
           [(ngModel)]="bundle.info">
  </mat-form-field>
</mat-card-content>
