<mat-card-content>
  <mat-form-field>
    <input matInput
           type="text"
           name="name"
           placeholder="Name"
           [(ngModel)]="place.name">
  </mat-form-field>

  <mat-form-field>
    <input matInput
           type="url"
           name="image"
           placeholder="Image url"
           [(ngModel)]="place.image">
  </mat-form-field>

  <mat-form-field>
    <input matInput
           type="text"
           name="info"
           placeholder="Info"
           [(ngModel)]="place.info">
  </mat-form-field>

  <mat-form-field>
    <input matInput
           type="number"
           name="length"
           placeholder="Radius"
           [(ngModel)]="place.radius">
  </mat-form-field>
</mat-card-content>
